/* MAIN */

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
  local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
  local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

nav {
  background: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 3.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li a {
  padding: 20px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list li a:active {
  background: #e7e7e7;
}

/* Non-touch devices only */
@media (hover: hover) {
  .list li a:hover {
    background: #e7e7e7;
  }
}

/* Smartphone and portrait tablet */
@media (max-width:960px)  {
  nav {
    bottom: 0;
    border-top: 1px solid #ececec;
  }

  nav li {
    padding: .5em;
    width: calc(19% - 1em);
  }

  nav img, nav span {
    display: block;
    margin: auto;
    font-size: x-small;
  }

  #container {
    margin-bottom: 3.5em;
  }
}

/* Landscape tablet and desktop */
@media (min-width:961px)  {
  nav {
    top: 0;
    border-bottom: 1px solid #ececec;
  }

  nav li {
    padding: 1em;
    width: calc(19% - 2em);
  }

  nav img {
    height: 1em;
  }

  #container {
    margin-top: 3.5em;
  }
}