/* MAIN */

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
  local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
  local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
}

a {
  color: inherit;
}

.internal, nav {
  user-select: none;
}

nav {
  background: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 3.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li a {
  padding: 20px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list li a:active {
  background: #e7e7e7;
}

.content {
  margin: 1em;
}

#search {
  margin: 1em;
  padding: .5em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  width: calc(calc(100% - 3em) - 2px);
}

#search:focus {
  outline: none;
}

#copyright {
  color: #909090;
  text-align: center;
  font-size: .7em;
}

#copyright a {
  text-decoration: none;
  font-weight: bold;
}

/* Non-touch devices only */
@media (hover: hover) {
  .list li a:hover {
    background: #e7e7e7;
  }
}

/* Smartphone and portrait tablet */
@media (max-width:960px)  {

  #arrow-back {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 1.5em;
  }

  #brand {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 1.5em;
    width: calc(100vw - 3em);
  }
  
  #brand img {
    display: inline-block;
    height: 2em;
  }

  nav {
    bottom: 0;
    border-top: 1px solid #ececec;
  }

  nav li {
    padding: .5em;
    width: calc(18% - 1em);
  }

  nav img, nav span {
    display: block;
    margin: auto;
    font-size: x-small;
  }

  #container {
    margin-top: 5em;
    margin-bottom: 3.5em;
    height: calc(100vh - 5em - 3.5em);
    overflow: scroll;
  }

}

/* Landscape tablet and desktop */
@media (min-width:961px)  {

  #arrow-back {
    display: none !important;
  }

  #brand {
    display: inline;
  }

  nav {
    top: 0;
    border-bottom: 1px solid #ececec;
  }

  nav ul {
    display: inline;
  }

  nav li, #brand {
    padding: 1em;
    width: calc(18% - 2em);
  }

  nav img {
    height: 1em;
  }

  nav #home-button {
    display: none;
  }

  #container {
    margin-top: 3.5em;
    margin-bottom: 0;
    padding: 1em;
  }

}
